//text-size
$text-size-base: 1.4rem;
$text-13half: 1.35rem;
$text-14: 1.4rem;
$text-17: 1.7rem;
$text-16: 1.6rem;
$text-18: 1.8rem;

//text-weight
$text-weight-light: 300;
$text-weight-base: 400;
$text-weight-semibold: 500;
$text-weight-bold: 700;

//text-color
$text-primary-c1: #777777;
$text-primary-c2: #7F7F7F;
$text-primary-c3: #4c4c4c;

$text-secondary-c1: #333333;
$text-secondary-c2: #000000;

$text-accent-c1: #ffc500;

$text-blue-c1: #55acee;

//bg-color
$bg-primary-c1: #fff;
$bg-accent-c1 :#ffc500;
$bg-accent-c2: #ffb100;

$bg-black-c1: #1e1e1e;

//border-color
$border-primary-c1: #eee;
$border-accent-c1: #ffc500;