.wrapper {
    .content {
        .resume {
            margin-left: 3rem;
            margin-bottom: 4rem;

            .container {
                &>div {
                    padding: 4rem 3rem;
                    background-color: $bg-primary-c1;
                    -webkit-box-shadow: 0 2px 90px 0 rgba($color: #000000, $alpha: 0.07);
                    box-shadow: 0 2px 90px 0 rgba($color: #000000, $alpha: 0.07);
                    border-radius: 7px;

                    .title__section {
                        position: relative;
                        display: inline-block;
                        margin-bottom: 4rem;

                        span.title {
                            @include text($text-18, $text-weight-bold, $text-secondary-c1);
                            position: relative;
                            z-index: 10;
                        }

                        span.underline {
                            position: absolute;
                            width: 100%;
                            height: 5px;
                            background-color: $bg-accent-c2;
                            opacity: 0.4;
                            inset: auto auto 5px 0;
                            z-index: 1;
                        }
                    }

                    .row {
                        .col-6 {
                            ul {
                                list-style: none;

                                li {
                                    position: relative;
                                    line-height: 100%;
                                    padding: 0 0 2.5rem 3rem;
                                    border-left: 1px solid $border-primary-c1;

                                    &::after {
                                        content: "";
                                        width: 8px;
                                        height: 8px;
                                        position: absolute;
                                        inset: 0 auto auto 0;
                                        border: 2px solid $border-accent-c1;
                                        border-radius: 50%;
                                        background-color: $bg-primary-c1;

                                        transform: translateX(-4.5px);
                                    }

                                    i {
                                        position: absolute;
                                        left: 0;
                                        z-index: 10;
                                        transform: translate(-50%, -50%);
                                    }

                                    h3 {
                                        @include text($text-18, $text-weight-semibold, $text-secondary-c1);
                                        line-height: 100%;
                                        margin-bottom: 7px;
                                    }

                                    p:nth-child(2) {
                                        @include text(15px, $text-weight-base, $text-secondary-c1);
                                        margin-bottom: 1.2rem;
                                    }

                                    p {
                                        @include text($text-size-base, $text-weight-base, #989898);
                                        line-height: 20px;
                                    }

                                    &:last-child {
                                        border-left: none;
                                    }

                                    &:last-child::after {
                                        transform: translateX(-3.5px);
                                    }

                                    &:first-child {
                                        @include text($text-18, $text-weight-semibold, $text-secondary-c1);
                                        padding: 0 0 5rem 3rem;
                                        span {
                                            position: absolute;
                                            transform: translateY(-50%);
                                        }
                                        &::after {
                                            content: "";
                                            background: $border-accent-c1;
                                            background-position: center;
                                            background-repeat: no-repeat;
                                            background-size: 3rem 1rem;
                                            position: absolute;
                                            left: 0;
                                            top: 0;
                                            width: 4rem;
                                            height: 4rem;
                                            border-radius: 50%;
                                            transform: translate(-50%, -50%);
                                        }
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}